*{
    box-sizing: border-box;
}
body {
    padding: 10px;
}
.brand-header {
    border-bottom: 3px solid black;
}
.brand {
    font-family: "Snell Roundhand";
    font-weight: normal;
    font-size: 60px;
    text-align: center;
}
.row {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
}
.article-title {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}
.quator {
    width: 50%;
}
.article-text {
    box-sizing: border-box;
    padding: 10px
}
.article-img{
    width:100%;
}
.story{
    border-right: 1px solid black;
    padding: 0 10px
}
.half{
    width: 50%;
}
.three-quator{
    width:75%;
}
.other-section{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding:0;
    margin:0;
}
.site-sections{
    display: flex;
    align-items: center;
    flex:1;
}
.section-link{
    color:black;
    text-decoration: none;
    font-size: 30px;
    padding-left:30px;
    font-weight:bold;
    font-family:"Futura";
    color:#666;
}
.section-link:hover {
    text-decoration: underline;
  }
  
.dao {
    background-color: #55efc4;
}
.ico {
    background-color: #81ecec;
  }
  
  .nft {
    background-color: #74b9ff;
  }
  
  .ido {
    background-color: #a29bfe;
  }
  
  .dex {
    background-color: #ffeaa7;
  }
  